# ASP.NET Core
obj/
bin/
*.user
*.vscode/
*.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
*.vssettings
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.ide

# Rider
.idea/
*.sln.iml
*.sln.DotSettings.user
*.sln.DotSettings

# Visual Studio Code files
.vscode/
*.code-workspace

# WebStorm
.idea/
*.iml
*.ipr
*.iws
*.idea/workspace.xml
*.idea/tasks.xml
*.idea/dictionaries
*.idea/shelf

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Node.js dependencies
frontend/note-modules

# React build output
build/
dist/
npm-debug.log*

# Yarn dependencies
.yarn
.yarn/
yarn-error.log

# Jest coverage
coverage/

# Windows
Thumbs.db
ehthumbs.db

# Ant Design
dist/