# React js dependencies
node_modules/
.vite

# Environment variables files
*.env*

# SSL certificates and private keys
*.pem

# IDE config files (JetBrains)
.idea/

# Compiled binary files for .NET projects
obj/
bin/

# Application settings configuration files
**/appsettings.Development.json
*.sln.DotSettings.user

*.tsbuildinfo

dist/